body{
    height: 100vh;
    margin: 0;
    padding: 0;
}
.overlay{
    overflow: hidden;
}
.quiz{
    animation: fadeIn 0.2s;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background:rgba(0, 0, 0, 0.5);
    &__modal{
        position: relative;
        align-self: center;
        flex: 0 1 840px;
        height: 500px;
        @media (max-width:600px){
            // margin: 20px;
            // height: calc(100vh - 40px);
            min-height: 100%;
        }
    }
    &__close{
        position: absolute;
        right: -40px;
        top: 0px;
        @media (max-width: 600px){
            top: 20px;
            right: 20px;
        }
    }
    &__body{
        height: 100%;
        width: 100%;
    }
    &_removed{
        animation: fadeOut 0.2s;
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
