@import '_default.scss';

$innerPadding:10px;
@mixin input_before($size, $bckg) {
    content: '';
    display: block;
    position: absolute;
    width: $size;
    height: $size;
    background: $bckg;
    border-radius: 2px;
    transition: $transition;
    top: 0;
    left: 0;
}
@mixin field($height) {
    display: block;
    height: $height;
    line-height: $height;
    font-size: 14px;
    width: 100%;
    
}
%card {
    border-radius: 5px;
}
.link{
    text-decoration: none;
    color: $accentColor;
    transition: $transition;
    &:hover{
        opacity: 0.8;
    }
}
.control {
    $offset: 10px;
    display: block;
    position: relative;
    font-size: 14px;
    animation: fadeIn 0.2s;
    &__input {
        appearance: none;
        height: 1px;
        width: 1px;
        position: absolute;
        opacity: 0;
        margin: 0;
    }

    &__label {
        display: block;
        padding-left: 28px;
        line-height: 20px;
        margin-top: 10px;
        

        &_radio::before {
            @include input_before(18px, $lightGrey);
            top: 0;
            left: 0;
        }

        &_radio::after {
            @include input_before(10px, $lightGrey);
            $offset: 4px;
            background-color: $accentColor;
            position: absolute;
            top: $offset;
            left: $offset;
            
            opacity: 0;
        }

        &_radio::before,
        &_radio::after {
            border-radius: 50%;
            margin-top: inherit;
        }
        &_checkbox::before{
            @include input_before(15px, $lightGrey);
            top: 0;
            left: 0;
        }
        &_checkbox::after{
            @include input_before(15px, $lightGrey);
            background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='15' height='15' rx='2' fill='white'/%3E%3Cpath d='M13.3333 0H1.66667C0.741667 0 0 0.75 0 1.66667V13.3333C0 14.25 0.741667 15 1.66667 15H13.3333C14.2583 15 15 14.25 15 13.3333V1.66667C15 0.75 14.2583 0 13.3333 0ZM5.83333 11.6667L1.66667 7.5L2.84167 6.325L5.83333 9.30833L12.1583 2.98333L13.3333 4.16667L5.83333 11.6667Z' fill='%230075FF'/%3E%3C/svg%3E%0A");
            top: 0;
            left: 0;
            opacity: 0;

        }
        &_privacy{
            font-size: 10px;
            padding-left: 21px;
            line-height: 15px;
            
        }

    }

    &__input:checked~&__label::after {
        opacity: 1;
    }
}

.button {
    @include field(55px);
    @extend %card;
    border: none;
    text-align: center;
    background: $accentColor;
    color: white;
    text-decoration: none;
    transition: $bigTransition;
    &:hover{
        opacity: 0.8;
    }
}

.input {
    @include field(40px);
    @extend %card;
    border: 1px solid $lightGrey;
    padding-left: $innerPadding;
    

    &_icon {
        padding-left: 42px;
        background-repeat: no-repeat;
        background-position: 10px 10px;
        background-size: 20px 20px;

        &-phone {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23CDCDCD' d='M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z' /%3E%3C/svg%3E");
        }

        &-name {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23CDCDCD' d='M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z' /%3E%3C/svg%3E");
        }

        &-mail {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23CDCDCD' d='M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z' /%3E%3C/svg%3E");
        }
    }
}
.label{
    display: block;
    
    &__text{
        display: block;
        margin-bottom: 9px;
        // margin-top: 17px;
        font-size: 14px;
    }
}

.form{
    @extend %card;
    // @extend .container;
    margin: 0 auto;
    height: 100%;
    position: relative;
    background: white;
    max-width: 840px;
    // max-height: 500px;
    $padding:40px;
    display: flex;
    flex-direction: column;
    &__header{
        padding: 23px $padding 18px;
        border-bottom: 1px solid $lightGrey;
        font-size: 24px;
        @media (max-width:600px){  
            font-size: 22px;
            padding-left: 22px;
            padding-right: 22px;
        }
    }
    &__body{
        flex:1;
    }
    &__answers{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px 40px;
        padding:  60px $padding;

        @media (max-width:600px) {
            grid-template-columns: 1fr;
            padding: 22px;
        }

        &_result{
            grid-template-columns: 1fr 310px;
            padding-top: 24px;
            padding-bottom: 31px;
            @media (max-width:600px){
                grid-template-columns: 1fr;
                grid-row-gap:20px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
        &_centered{
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
    &__footer{
        // position: absolute;
        // bottom: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
        padding: 0 $padding $padding;
        @media (max-width:600px) {
            grid-template-columns: 1fr;
            grid-row-gap: 20px;
            
        }
    }
    &__nav{
        display: flex;
        justify-content: end;
        @media (max-width:600px){
            justify-content: space-between;
            width: auto;
        }
    }
    &__button{
        flex: 0 1 150px;
        &_prev{
            background: transparent;
            color: #787878;
        }
        &_submit{
            margin-bottom: 12px;
            font-size: 18px;
        }
    }
    &__feedback{
        @extend %card;
        background: #F4F5F6;
        padding: 20px;
        height: auto;
    }
    &__label{
        margin-bottom: 18px;
    }
    // &__message{
    //     padding-top: 12px;
    // }
    &_hidden{
        display: none;
    }
    &__error{
        color: #EF6262;
        line-height: 21px;
        opacity: 0;
        transition: 0.2s ease;
        &_active{
            visibility: visible;
            opacity: 1;
        }
    }
    

}
.message{
    font-size: 18px;
    line-height: 30px;
    @media (max-width: 600px) {
        font-size: 14px;
        line-height: 20px;
    }
}
    
:-moz-placeholder{
    color: $lightGrey;
}


